
.colorbutton .navbar-toggler-icon {
    background-image: url( 
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(139, 55, 107, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

.contenedor {
    padding: 0;
}


.bannerhome {
    background-image: url("/storage/Banner-Home.jpg");
    background-size: 100% 100%;
}


.clasediv {
    padding-top: 13%;
    margin: 0;
}

.titulo1{
    font-family:'Montserrat', sans-serif; 
    font-weight:900;
    color: rgba(139, 55, 107, 1);
    font-size: 290%;
}

.titulo2{
    font-family:'Montserrat', sans-serif; 
    font-weight:800;
    color: rgba(29, 114, 159, 1);
    font-size: 290%;
    margin-top: -4%;

}


.p1 {
    font-family:'Montserrat', sans-serif; 
    font-weight:500;
    background-color: rgba(139, 55, 107, 1);
    color:white;
    font-size: 80%;
    width: 61%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 5%;
    font-size: 72%;

}

.p2 {
    font-family:'Montserrat', sans-serif; 
    font-weight:400;
    color: rgba(16, 79, 137, 1);
    margin: 0 auto;
    font-size: 84%;
}

.p3 {
    font-family:'Montserrat', sans-serif; 
    font-weight:400;
    color: rgba(16, 79, 137, 1);
    margin: 0 auto;
    font-size: 90%;
}

.p4 {
    font-family:'Montserrat', sans-serif; 
    font-weight:400;
    color: rgba(16, 79, 137, 1);
    font-size: 91%;
}

.clasep {
    margin-top: 10%;
    padding-bottom: 10%;
}

.articuloimg2 {
    margin-left: 9%;
}

.articuloh2 {
    font-family:'Montserrat', sans-serif; 
    font-weight: 800;
    color: rgba(29, 114, 159, 1);
    width: 85%;
    font-size: 215%;
    margin: 0 auto;
    margin-bottom: 6%;
}

.articulop1 {
    color: rgba(139, 55, 107, 1);
    font-family:'Montserrat', sans-serif;
    font-weight:600;
    padding-top: 5%;
}

.articulop2 {
    color: rgba(139, 55, 107, 1);
    font-family:'Montserrat', sans-serif;
    font-weight:600;
    padding-top: 5%;
}


.articulop3 {
    color: rgba(139, 55, 107, 1);
    font-family:'Montserrat', sans-serif;
    font-weight:600;
    padding-top: 5%;
}

.divart {
    padding-top: 6%;
}

.acth3 {
    font-family:'Montserrat', sans-serif; 
    font-weight: 800;
    color: rgba(29, 114, 159, 1);
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 150%;
    
}

.acth2 {
    color: rgba(139, 55, 107, 1);
    font-family:'Montserrat', sans-serif; 
    font-weight: 800;
    padding-top: 6%;
}

.acth2-2 {
    color: white;
    font-family:'Montserrat', sans-serif; 
    font-weight: 800;
    margin-top: -5%;

}


.divact {
    background-image: url("/storage/fondoact.jpg");
    padding-bottom: 5%;
    background-size: 100% 100%;
}

.actp {
    font-family:'Montserrat', sans-serif; 
    font-weight:400;
    color: rgba(16, 79, 137, 1);
    font-size: 85%;
    padding-top: 5%;

}

.agencia {
    background-image: url("/storage/fondoagencia.jpg");
    background-size: 100% 100%;
}

.agenciah1 {
    font-family:'Montserrat', sans-serif; 
    font-weight: 800;
    color: rgba(145, 195, 242, 1);
    font-size: 153%;
    padding-top: 15%;
    padding-bottom: 7%;
}

.agenciap {
    font-family:'Montserrat', sans-serif; 
    font-weight:400;
    color:white;
    width: 84%;
    font-size: 75%;
    margin: 0 auto;
    padding-bottom: 5%;
    line-height: 1.9;
}

.imgagencia {
    padding-top: 7%;
}

.staffh2 {
    font-family:'Montserrat', sans-serif; 
    font-weight: 800;
    color: rgba(29, 114, 159, 1);
    padding-top: 5%;
    padding-bottom: 5%;

}

.staffh4 {
    font-size: 115%;
    color: rgba(139, 55, 107, 1);
    font-family:'Montserrat', sans-serif; 
    font-weight: 800;
    padding-top: 6%;
    padding-bottom: 3%;
}

.staffp {
    font-size: 66%;
    font-family:'Montserrat', sans-serif; 
    font-weight:400;
    color: rgba(29, 114, 159, 1);
    padding-bottom: 6%;
}
    

.staffdivpadre {
    background-image:  url("/storage/fondostaff.jpg");
    background-size: 100% 100%;
}

.formcontacto {
    font-family:'Montserrat', sans-serif; 
    font-weight: 800;
    color: rgba(29, 114, 159, 1);
    font-size: 150%;
    padding-bottom: 7%;
}

.divstaffart {
    padding-left: 6%;
    padding-right: 6%;
}

input::placeholder {
    font-family:'Montserrat', sans-serif; 
    font-weight:700;
    color: rgba(16, 79, 137, 1);
    text-indent: 3%;
}


.inputcontacto {
    width: 90%;
    border: none;
    margin-bottom: 5%;
}

.textcontacto {
    width: 90%;
    border: none;
}

.textcontacto::placeholder {
    font-family:'Montserrat', sans-serif; 
    font-weight:700;
    color: rgba(16, 79, 137, 1);
    text-indent: 3%; 
}

.divcontacto {
    background-image:  url("/storage/fondoact.jpg");
    background-size: 100% 100%;
}

.enviarcontacto {
    width: 31%;
    padding-top: 8%;
    padding-bottom: 10%;
}